.add-product-btn {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 5px;
}

.admin-card {
    display: flex;
    border: 1px solid #ccc;
    margin: 5px;
    background-color: rgb(238, 233, 228);
}

.admin-panel {
    width: 600px;
    margin: 20px auto;
}